@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
#menuNav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  background: black;
  color: #f7f7ff;
  padding: 16px;
}
#menuNav #language {
  font-weight: 100;
  font-size: 0.87rem;
  display: flex;
  align-items: center;
  padding-right: 4px;
  margin-right: 32px;
  cursor: pointer;
}
#menuNav button {
  background: transparent;
  width: 32px;
  border: none;
  cursor: pointer;
}
#menuNav #arrowIcon {
  transform: rotate(180deg);
}

#menuToggle {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  padding: 2px 0 0 6px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}
#menuToggle input {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2px;
  left: 2px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
#menuToggle span {
  display: block;
  width: 20px;
  height: 1px;
  margin: 7px 0;
  position: relative;
  background: #f7f7ff;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.3s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.3s ease;
}
#menuToggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  background: transparent;
}
#menuToggle input:checked ~ span:nth-child(2) {
  background: black;
  transform-origin: 0 0;
  transform: scale(1.1) rotate(45deg);
}
#menuToggle input:checked ~ span:nth-child(4) {
  background: black;
  transform-origin: 0 0;
  transform: scale(1.1) rotate(-45deg);
}
#menuToggle input:checked ~ ul {
  transform: translate(100%, 0);
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 0 0 -100%;
  padding: 75px 0px 50px 0px;
  background: #f7f7ff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: none;
  transition: transform 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 25px;
  width: 100%;
  font-size: 0.87rem;
}

@media (min-width: 720px) and (max-width: 1025px) {
  #menuNav {
    height: 45px;
    padding: 24px;
  }
  #menuNav #language {
    font-size: 2.7vw;
    margin-right: 64px;
  }

  #menuToggle {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 0 0 32px;
  }
  #menuToggle span, #menuToggle input {
    display: none;
  }
  #menuToggle #menu {
    position: static;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background: black;
  }
  #menuToggle #menu li, #menuToggle #menu a {
    color: #f7f7ff;
    font-size: 2.7vw;
    padding: 0;
    margin-right: 20px;
    align-self: center;
  }
}
@media (min-width: 1025px) {
  #menuNav {
    height: 20px;
    padding: 24px;
  }
  #menuNav #language {
    font-size: 16px;
    margin-right: 64px;
  }

  #menuToggle {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 0 0 32px;
  }
  #menuToggle span, #menuToggle input {
    display: none;
  }
  #menuToggle #menu {
    position: static;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background: black;
  }
  #menuToggle #menu li, #menuToggle #menu a {
    color: #f7f7ff;
    font-size: 16px;
    padding: 0;
    margin-right: 20px;
    align-self: center;
  }
}
.first-impression-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#firstImpressionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  color: #f7f7ff;
  margin-top: 65px;
}
#firstImpressionSection .first-impression-row > #profilePicture1 {
  width: 48%;
  height: 48%;
  margin-top: 10%;
}
#firstImpressionSection .first-impression-row > #nameAndRole {
  width: 52.5%;
  margin-top: 16.46%;
  flex-direction: column;
  display: flex;
  text-align: center;
}
#firstImpressionSection .first-impression-row > #nameAndRole #name {
  font-size: 1rem;
  font-size: 4vw;
}
#firstImpressionSection .first-impression-row > #nameAndRole #role {
  font-size: 0.87rem;
  font-size: 3.4vw;
  font-weight: 100;
  margin-top: 6.96%;
}
#firstImpressionSection .first-impression-row > #meetMe {
  margin: 14.02% auto;
  width: 39.02%;
  padding: 6.75% 0;
  background: transparent;
  border: 1px solid #f7f7ff;
  color: #f7f7ff;
  text-decoration: none;
  text-align: center;
}
#firstImpressionSection .first-impression-row > #meetMe:active {
  background: #f7f7ff;
  color: black;
}
#firstImpressionSection .first-impression-row > #quote {
  width: 78.75%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.87rem;
  font-size: 3.4vw;
  margin-bottom: 32px;
}

@media (min-width: 720px) and (max-width: 1025px) {
  #firstImpressionSection .first-impression-row > #profilePicture1 {
    width: 33%;
    height: 33%;
    margin-top: 10%;
  }
  #firstImpressionSection .first-impression-row > #nameAndRole {
    margin-top: 8%;
  }
  #firstImpressionSection .first-impression-row > #nameAndRole #name {
    font-size: 3.6vw;
  }
  #firstImpressionSection .first-impression-row > #nameAndRole #role {
    margin-top: 3%;
    font-size: 3.1vw;
  }
  #firstImpressionSection .first-impression-row > #meetMe {
    margin: 14.02% auto;
    width: 25.02%;
    padding: 4.75% 0;
    font-size: 2.9vw;
  }
  #firstImpressionSection .first-impression-row > #quote {
    font-size: 2.4vw;
    margin-bottom: 10%;
  }
}
@media (min-width: 1025px) {
  .first-impression-row {
    flex-direction: row;
    justify-content: space-between;
    width: 820px;
  }
  .first-impression-row:nth-child(2) {
    margin-bottom: 65px;
  }

  #firstImpressionSection .first-impression-row > #profilePicture1 {
    order: 2;
    width: 256px;
    height: 256px;
    margin: 8% 0px 0 0;
  }
  #firstImpressionSection .first-impression-row > #nameAndRole {
    width: 326px;
    order: 1;
    margin: 8% 0 0 0;
  }
  #firstImpressionSection .first-impression-row > #nameAndRole #name {
    font-size: 48px;
  }
  #firstImpressionSection .first-impression-row > #nameAndRole #role {
    margin-top: 3%;
    font-size: 24px;
  }
  #firstImpressionSection .first-impression-row > #meetMe {
    margin: 40px 0 0 67px;
    width: 192px;
    padding: 20px 0;
    font-size: 22px;
  }
  #firstImpressionSection .first-impression-row > #quote {
    font-size: 16px;
    margin: 40px 0 0 0;
    width: 256px;
  }
}
.title {
  font-size: 1rem;
  font-size: 5vw;
  color: #60656f;
  margin: 13px 0;
}

.description {
  font-size: 0.87rem;
  font-size: 3.4vw;
}

#aboutSection {
  padding-top: 20%;
  background: #f7f7ff;
}

#skillsSubsection {
  display: flex;
  flex-direction: column;
  padding: 13px;
}
#skillsSubsection .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#skillsSubsection .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.87rem;
  font-size: 3.4vw;
  width: 100%;
}
#skillsSubsection .skill img {
  width: 40%;
  height: 64px;
}
#skillsSubsection .skill p {
  width: 80%;
}
#skillsSubsection .row:nth-child(2) {
  margin-top: 26px;
}

#whatAreYouDoingSubsection {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 16px;
}
#whatAreYouDoingSubsection img {
  margin-top: 26px;
  width: 52.5%;
  height: 52.5%;
}
#whatAreYouDoingSubsection div {
  display: flex;
  flex-direction: column;
}

@media (min-width: 720px) and (max-width: 1025px) {
  .title {
    font-size: 3.6vw;
  }

  .description {
    font-size: 2.7vw;
  }

  #aboutSection {
    padding-top: 15%;
  }

  #skillsSubsection {
    padding: 32px;
  }
  #skillsSubsection .skill {
    font-size: 2.7vw;
  }
  #skillsSubsection .skill img {
    width: 35%;
    height: 128px;
  }
  #skillsSubsection .skill p {
    width: 80%;
  }
  #skillsSubsection .row:nth-child(2) {
    margin-top: 8%;
  }

  #whatAreYouDoingSubsection {
    margin: 80px 32px 40px 32px;
  }
  #whatAreYouDoingSubsection img {
    margin-top: 26px;
    width: 35%;
    height: 35%;
  }

  #hobbiesAndInterests {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 32px;
  }
}
@media (min-width: 1025px) {
  .title {
    font-size: 28px;
  }

  .description {
    font-size: 16px;
  }

  #aboutSection {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #skillsSubsection {
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1024px;
  }
  #skillsSubsection .row {
    display: flex;
    justify-content: space-around;
    width: 1024px;
    margin: 0 !important;
  }
  #skillsSubsection .row:nth-child(2) {
    margin-top: 80px !important;
  }
  #skillsSubsection .skill {
    font-size: 16px;
    width: auto;
  }
  #skillsSubsection .skill img {
    width: 128px;
    height: 128px;
  }
  #skillsSubsection .skill p {
    width: 256px;
  }
  #skillsSubsection .row:nth-child(2) {
    margin-top: 8%;
  }

  #whatAreYouDoingSubsection {
    margin: 80px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 820px;
  }
  #whatAreYouDoingSubsection img {
    order: 1;
    margin-top: 0;
    width: 256px;
    height: 256px;
  }
  #whatAreYouDoingSubsection div {
    order: 2;
    width: 524px;
  }

  #hobbiesAndInterests {
    width: 820px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}
#casesSection {
  padding-top: 18%;
  background: #f7f7ff;
}

#casesList {
  display: flex;
  padding: 0 16px;
  flex-wrap: wrap;
  justify-content: center;
}
#casesList .case {
  position: relative;
  width: 100%;
  height: 128px;
  overflow: hidden;
  margin: 8px 0;
  cursor: pointer;
}
#casesList .case img {
  width: 100%;
  height: 100%;
  filter: blur(5px);
}
#casesList .case span {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
  text-align: center;
  background: black;
  opacity: 0.7;
  color: #f7f7ff;
  width: 100%;
  font-size: 0.87rem;
  font-size: 3.9vw;
  padding: 5px;
}
#casesList .case:active img {
  filter: none;
}
#casesList .case:active span {
  display: none;
}

@media (min-width: 720px) and (max-width: 1025px) {
  #casesSection {
    padding-top: 10%;
  }

  #casesList .case {
    width: 45%;
    height: 256px;
    margin: 8px;
  }
  #casesList .case span {
    font-size: 2.9vw;
  }
  #casesList .case img {
    filter: none;
  }
}
@media (min-width: 1025px) {
  #casesSection {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #casesList {
    width: 820px;
    padding: 0;
  }
  #casesList .case {
    width: 404px;
    height: 268px;
    margin: 2px;
  }
  #casesList .case span {
    font-size: 16px;
  }
  #casesList .case img {
    filter: none;
  }
}
#caseDetailsSection {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  background: #f7f7ff;
}
#caseDetailsSection #projectInfo {
  display: flex;
  flex-direction: column;
}
#caseDetailsSection #projectInfo div {
  display: flex;
  flex-direction: column;
}
#caseDetailsSection #projectInfo #caseImage {
  width: 80%;
  align-self: center;
}
#caseDetailsSection #caseTitle {
  text-align: center;
}
#caseDetailsSection #caseDescription {
  text-align: justify;
  margin: 0 16px;
}
#caseDetailsSection #contributionsTitle {
  margin: 26px 16px 0 16px;
}
#caseDetailsSection #contributionsList li {
  margin: 13px 16px;
  text-align: justify;
  list-style: none;
}
#caseDetailsSection #back {
  align-self: center;
  margin-top: 13px;
  padding: 8px;
  width: auto;
  background: transparent;
  border: 1px solid black;
  cursor: pointer;
}

@media (min-width: 720px) and (max-width: 1025px) {
  #caseTitle {
    font-size: 3.6vw;
    margin: 20px 0;
  }

  #caseDescription {
    font-size: 2.7vw;
    text-align: center !important;
    margin: 0 32px !important;
  }

  #techStackSubsection {
    margin: 40px 32px;
  }
  #techStackSubsection #techStack {
    font-size: 3.1vw;
  }

  #contributionsTitle {
    margin: 0 32px !important;
    font-size: 3.1vw;
  }

  #contributionsList li {
    margin: 40px 32px !important;
    font-size: 2.7vw;
  }

  #back {
    font-size: 2.9vw;
    margin-top: 40px !important;
    padding: 20px !important;
  }
}
@media (min-width: 1025px) {
  #caseTitle {
    font-size: 28px;
    margin: 20px 0;
  }

  #caseDescription {
    font-size: 16px;
    text-align: center !important;
    margin: 0 32px !important;
    width: 820px;
  }

  #caseImage {
    width: 500px !important;
  }

  #techStackSubsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;
  }
  #techStackSubsection #techStack {
    font-size: 24px;
  }

  #contributionsTitle {
    margin: 0 !important;
    font-size: 24px;
  }

  #contributionsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1024px;
  }
  #contributionsList li {
    width: 450px;
    margin: 80px 31px 0 31px !important;
    font-size: 16px !important;
    line-height: 30px;
  }
  #contributionsList li:nth-child(-n+2) {
    margin-top: 20px !important;
  }

  #back {
    font-size: 22px;
    margin-top: 80px !important;
    padding: 15px !important;
  }
}
#memoirsSection {
  width: 100%;
  padding-top: 20%;
  background: #f7f7ff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.memoir {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0px 5% 26px 5%;
}
.memoir img {
  width: 30%;
  border: 1px solid #60656f;
  margin-right: 13px;
}
.memoir .text {
  display: flex;
  flex-direction: column;
}
.memoir .memoir-title {
  font-size: 0.87rem;
  font-size: 3.9vw;
}
.memoir .memoir-date {
  font-size: 3vw;
  color: #60656f;
}
.memoir .memoir-description {
  font-size: 3vw;
  text-align: justify;
}
.memoir .memoir-description a {
  color: #f7f7ff;
  text-decoration: underline;
}

@media (min-width: 720px) and (max-width: 1025px) {
  #memoirsSection {
    padding-top: 10%;
  }

  .memoir {
    margin-top: 40px;
  }
  .memoir .text {
    justify-content: space-between;
    margin: 0 20px;
  }
  .memoir .memoir-title {
    font-size: 3.6vw;
  }
  .memoir .memoir-date, .memoir .memoir-description {
    font-size: 2.7vw;
  }
}
#contactSection {
  border: 1px solid black;
  padding-top: 10%;
  display: flex;
  background: black;
  color: #f7f7ff;
}

#contacts {
  flex-direction: column;
  margin-left: 16px;
}
#contacts li {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 26px;
}
#contacts li img {
  width: 15%;
}
#contacts li span {
  border: 1px solid black;
  margin-left: 13px;
  font-size: 0.87rem;
  font-size: 3.9vw;
}
#contacts a {
  text-decoration: none;
  color: #f7f7ff;
  cursor: pointer;
}

@media (min-width: 720px) and (max-width: 1025px) {
  #contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 32px;
  }
  #contacts a {
    width: 80%;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
  #contacts a img {
    width: 10%;
  }
  #contacts a span {
    font-size: 2.7vw;
  }
  #contacts a li {
    margin-bottom: 0;
  }
}
*, body {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

section {
  padding-bottom: 10%;
  width: 100%;
}

.profile-picture {
  border-radius: 50%;
  -webkit-filter: saturate(80%) sepia(20%) hue-rotate(0deg);
  filter: saturate(80%) sepia(20%) hue-rotate(0deg);
}

.chips-section {
  margin: 26px 16px 0 16px;
  font-size: 0.87rem;
  font-size: 3.9vw;
}
.chips-section .chips-title {
  color: #60656f;
}
.chips-section .chips {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.chips-section .chips span {
  display: flex;
  margin: 13px 13px 0px 0;
  padding: 8px;
  background: #60656f;
  border-radius: 24px;
  color: #f7f7ff;
  font-size: 0.75rem;
  font-size: 3.4vw;
}

@media (min-width: 720px) and (max-width: 1025px) {
  .chips-section {
    margin: 0px 32px;
    font-size: 2.7vw;
    width: 50%;
  }
  .chips-section .chips span {
    margin: 13px 13px 0px 0;
    padding: 10px;
    font-size: 1.7vw;
  }
}
@media (min-width: 1025px) {
  .chips-section {
    margin: 0px;
    font-size: 24px;
    width: 50%;
  }
  .chips-section .chips span {
    margin: 13px 13px 0px 0;
    padding: 10px;
    font-size: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
