@use 'fonts';
@use 'colors';
@use 'breakpoints';

.title {
  font-size: 1rem;
  font-size: 5vw;
  color: colors.$third-color;
  margin: 13px 0;
}

.description {
  font-size: 0.87rem;
  font-size: 3.4vw;
}

#aboutSection {
  padding-top: 20%;
  background: colors.$fifth-color;
}

#skillsSubsection {
  display: flex;
  flex-direction: column;
  padding: 13px;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.87rem;
    font-size: 3.4vw;
    width: 100%;

    img {
      width: 40%;
      height: 64px;
    }

    p {
      width: 80%;
    }

  }

  .row:nth-child(2) {
    margin-top: 26px;
  }
}

#whatAreYouDoingSubsection {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 16px;

  img {
    margin-top: 26px;
    width: 52.5%;
    height: 52.5%;
  } 

  div {
    display: flex;
    flex-direction: column;
  }

}

@include breakpoints.tablet {

  .title {
    font-size: fonts.$font-size-tablet-lg;
  }

  .description {
    font-size: fonts.$font-size-tablet-xs;
  }

  #aboutSection {
    padding-top: 15%;
  }

  #skillsSubsection {
    padding: 32px;
    .skill {
      font-size: fonts.$font-size-tablet-xs;

      img {
        width: 35%;
        height: 128px;
      }

      p {
        width: 80%;
      }

    }

    .row:nth-child(2) {
      margin-top: 8%;
    }
  }

  #whatAreYouDoingSubsection {
    margin: 80px 32px 40px 32px;

    img {
      margin-top: 26px;
      width: 35%;
      height: 35%;
    } 
  }

  #hobbiesAndInterests {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 32px;
  }
}

@include breakpoints.desktop {
  .title {
    font-size: fonts.$font-size-desktop-lg;
  }

  .description {
    font-size: fonts.$font-size-desktop-xs;
  }

  #aboutSection {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #skillsSubsection {
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1024px;
    line-height: 30px;

    .row {
      display: flex;
      justify-content: space-around;
      width: 1024px;
      margin: 0 !important;
    }

    .row:nth-child(2) {
      margin-top: 80px !important;
    }

    .skill {
      font-size: fonts.$font-size-desktop-xs;
      width: auto;

      img {
        width: 128px;
        height: 128px;
      }

      p {
        width: 256px;
      }

    }

    .row:nth-child(2) {
      margin-top: 8%;
    }
  }

  #whatAreYouDoingSubsection {
    margin: 80px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 820px;
    line-height: 30px;

    img {
      order: 1;
      margin-top: 0;
      width: 256px;
      height: 240px;
    } 

    div {
      order: 2;
      width: 524px;
    }
  }
  
  #hobbiesAndInterests {
    width: 820px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}