@use 'colors';

.title {
  font-size: 1rem;
  font-size: 5vw;
  color: colors.$third-color;
  margin: 13px 0;
}

.description {
  font-size: 0.87rem;
  font-size: 3.4vw;
}

#aboutSection {
  padding-top: 10%;
  background: colors.$secondary-color;
}

#skillsSubsection {
  display: flex;
  flex-direction: column;
  padding: 13px;

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.87rem;
    font-size: 3.4vw;
    width: 100%;

    img {
      width: 40%;
      height: 64px;
    }

    p {
      width: 80%;
    }

  }

  .row:nth-child(2) {
    margin-top: 26px;
  }
}

#whatAreYouDoingSubsection {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 16px;

  img {
    margin-top: 26px;
    width: 52.5%;
    height: 52.5%;
  } 
}