@use 'fonts';
@use 'colors';
@use 'breakpoints';

#caseDetailsSection {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  background: colors.$secondary-color;

  #projectInfo {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: column;
    }

    #caseImage {
      width: 80%;
      align-self: center;
    }   

    #caseTitle {
      text-align: center;
    }

    #caseDescription {
      text-align: justify;
      margin: 0 16px;
    }
  }

  #contributionsTitle {
    margin: 26px 16px 0 16px;
  }

  #contributionsList {

    li {
      margin: 13px 16px;
      text-align: justify;
      list-style: none;
    }
  }

  #back {
    align-self: center;
    margin-top: 13px;
    padding: 8px;
    width: auto;
    background: transparent;
    border: 1px solid colors.$primary-color;
    cursor: pointer;
  }

}

@include breakpoints.tablet {

  #caseTitle {
    font-size: fonts.$font-size-tablet-lg;
    margin: 20px 0;
  }

  #caseDescription {
    font-size: fonts.$font-size-tablet-xs;
    text-align: center !important;
    margin: 0 32px !important;
  }

  #techStackSubsection {
    margin: 40px 32px;

    #techStack {
      font-size: fonts.$font-size-tablet-md;
    }
  }

  #contributionsTitle {
    margin: 0 32px !important;
    font-size: fonts.$font-size-tablet-md;
  }

  #contributionsList {
    li {
      margin: 40px 32px !important;
      font-size: fonts.$font-size-tablet-xs;
    }
  }

  #back {
    font-size: fonts.$font-size-tablet-sm;
    margin-top: 40px !important;
    padding: 20px !important;
  }

}

@include breakpoints.desktop {

  #caseTitle {
    font-size: fonts.$font-size-desktop-lg;
    margin: 20px 0;
  }

  #caseDescription {
    font-size: fonts.$font-size-desktop-xs;
    text-align: center !important;
    margin: 0 32px !important;
    width: 820px;
    line-height: 30px;
  }

  #caseImage {
    width: 500px !important;
  }

  #techStackSubsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;

    #techStack {
      font-size: fonts.$font-size-desktop-md;
    }
  }

  #contributionsTitle {
    margin: 0 !important;
    font-size: fonts.$font-size-desktop-md;
  }

  #contributionsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1024px;

    li {
      width: 450px;
      margin: 80px 31px 0 31px !important;
      font-size: fonts.$font-size-desktop-xs !important;
      line-height: 30px;

      &:nth-child(-n+2) {
        margin-top: 20px !important;
      }
    }
  }

  #back {
    font-size: fonts.$font-size-desktop-sm;
    margin-top: 80px !important;
    padding: 15px !important;
    transition: background-color 0.3s ease;

    &:hover {
      background: colors.$primary-color !important;
      color: colors.$secondary-color;
    }
  }

}