@use 'fonts';
@use 'colors';
@use 'breakpoints';

#caseDetailsSection {
  display: none;
  flex-direction: column;
  padding-top: 10%;
  background: colors.$secondary-color;

  img {
    width: 80%;
    align-self: center;
  }

  #caseTitle {
    text-align: center;
  }

  #caseDescription {
    text-align: justify;
    margin: 0 16px;
  }

  #contributionsTitle {
    margin: 26px 16px 0 16px;
  }

  #contributionsList {

    li {
      margin: 13px 16px;
      text-align: justify;
      list-style: none;
    }
  }

  #back {
    align-self: center;
    margin-top: 13px;
    padding: 8px;
    width: auto;
    background: transparent;
    border: 1px solid colors.$primary-color;
  }

}

@include breakpoints.tablet {

  #caseTitle {
    font-size: fonts.$font-size-tablet-lg;
    margin: 20px 0;
  }

  #caseDescription {
    font-size: fonts.$font-size-tablet-xs;
    text-align: center !important;
    margin: 0 32px !important;
  }

  #techStackSubsection {
    margin: 40px 32px;

    #techStack {
      font-size: fonts.$font-size-tablet-md;
    }
  }

  #contributionsTitle {
    margin: 0 32px !important;
    font-size: fonts.$font-size-tablet-md;
  }

  #contributionsList {
    li {
      margin: 40px 32px !important;
      font-size: fonts.$font-size-tablet-xs;
    }
  }

  #back {
    font-size: fonts.$font-size-tablet-sm;
    margin-top: 40px !important;
    padding: 20px !important;
  }

}