@use 'fonts';
@use 'colors';
@use 'breakpoints';

#contactSection {

  border: 1px solid black;

  padding-top: 10%;
  display: flex;
  background: colors.$primary-color;
  color: colors.$secondary-color;
}

#contacts {
  flex-direction: column;
  margin-left: 16px;

  li {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 26px;

    img {
      width: 15%;
    }

    span {
      border: 1px solid black;
      margin-left: 13px;
      font-size: 0.87rem;
      font-size: 3.9vw;
    }
  }

  a {
    text-decoration: none;
    color: colors.$secondary-color;
    cursor: pointer;
  }
}

@include breakpoints.tablet {
  #contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 32px;

    a {
      width: 80%;
      justify-content: flex-start;
      margin-bottom: 40px;
      
      img {
        width: 10%;
      }

      span {
        font-size: fonts.$font-size-tablet-xs;
      }

      li {
        margin-bottom: 0;
      }
    }
  }
}