$font-stack: Montserrat, sans-serif;
$font-size: 0.75rem;

$font-size-tablet-xs: 2.7vw;
$font-size-tablet-sm: 2.9vw;
$font-size-tablet-md: 3.1vw;
$font-size-tablet-lg: 3.6vw;
$font-size-tablet-xl: 3.6vw;

$font-size-desktop-xs: 2.0vw;
$font-size-desktop-sm: 2.9vw;
$font-size-desktop-md: 3.1vw;
$font-size-desktop-lg: 3.6vw;
$font-size-desktop-xl: 3.6vw;