@use 'fonts';
@use 'colors';
@use 'breakpoints';

#memoirsSection {
  width: 100%;
  padding-top: 20%;
  background: colors.$secondary-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.memoir {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0px 5% 26px 5%;

  img {
    width: 30%;
    border: 1px solid colors.$third-color;
    margin-right: 13px;
  }

  .text { 
    display: flex;
    flex-direction: column;
  }

  .memoir-title {
    font-size: 0.87rem;
    font-size: 3.9vw;
    color: colors.$third-color;
  }

  .memoir-date {
    font-size: 3vw;
    color: colors.$third-color;
  }

  .memoir-description {
    font-size: 3vw;
    text-align: justify;

    a {
      color: colors.$secondary-color;
      text-decoration: underline;
    }
  }
}

@include breakpoints.tablet {
  #memoirsSection {
    padding-top: 10%;
  }

  .memoir {
    margin-top: 40px;
    
    .text {
      justify-content: space-between;
      margin: 0 20px;
    }

    .memoir-title {
      font-size: fonts.$font-size-tablet-lg;
    }

    .memoir-date, .memoir-description {
      font-size: fonts.$font-size-tablet-xs;
    }
  }
}

@include breakpoints.desktop {
  #memoirsSection {
    padding-top: 100px;
    flex-direction: row;
    justify-content: center;
  }

  .memoir {

    margin: 0;
    padding: 10px;
    width: 820px;
    flex-direction: column;
    align-items: center !important;
    width: 260px;

    img {
      width: 256px !important;
      height: 256px;
      margin: 0;
    }
    
    .text {
      justify-content: flex-start;
      align-items: flex-start !important;
      margin: 0;
      text-align: left;
      width: 100% !important;
    }

    .memoir-title {
      font-size: fonts.$font-size-desktop-md;
      margin-top: 20px;
    }

    .memoir-date, .memoir-description {
      font-size: fonts.$font-size-desktop-xs - 2px;
      width: 100%;
    }

    .memoir-date {
      margin: 10px 0;
    }
  }
}