@use 'fonts';
@use 'colors';
@use 'breakpoints';

#memoirsSection {
  width: 100%;
  padding-top: 20%;
  background: colors.$secondary-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.memoir {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0px 5% 26px 5%;

  img {
    width: 30%;
    border: 1px solid colors.$third-color;
    margin-right: 13px;
  }

  .text { 
    display: flex;
    flex-direction: column;
  }

  .memoir-title {
    font-size: 0.87rem;
    font-size: 3.9vw;
  }

  .memoir-date {
    font-size: 3vw;
    color: colors.$third-color;
  }

  .memoir-description {
    font-size: 3vw;
    text-align: justify;

    a {
      color: colors.$secondary-color;
      text-decoration: underline;
    }
  }
}

@include breakpoints.tablet {
  #memoirsSection {
    padding-top: 10%;
  }

  .memoir {
    margin-top: 40px;
    
    .text {
      justify-content: space-between;
      margin: 0 20px;
    }

    .memoir-title {
      font-size: fonts.$font-size-tablet-lg;
    }

    .memoir-date, .memoir-description {
      font-size: fonts.$font-size-tablet-xs;
    }
  }
}
