@use 'colors';

#memoirsSection {
  width: 100%;
  padding-top: 20%;
  background: colors.$secondary-color;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.memoir {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0px 5% 26px 5%;

  img {
    width: 30%;
    border: 1px solid colors.$third-color;
    margin-right: 13px;
  }

  .memoir-title {
    font-size: 0.87rem;
    font-size: 3.9vw;
  }

  .memoir-date{
    font-size: 3vw;
    color: colors.$third-color;
  }

  .memoir-description {
    font-size: 3vw;
    text-align: justify;

    a {
      color: colors.$secondary-color;
      text-decoration: underline;
    }
  }




}



