@use 'fonts';
@use 'colors';
@use 'menu';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$first-impression-dimension: 52.5%;

*, body {
  margin: 0;
  padding: 0;
  font-family: fonts.$font-stack;
}

body {
  padding: 16px;
  background: colors.$primary-color;
  color: colors.$secondary-color;
}

#menuNav {
  display: flex;
  justify-content: space-between;

  #language {
    font-weight: 100;
    font-size: fonts.$font-size + 12.5%;
    display: flex;
    align-items: center;
    padding-right: 4px;
  }

  button {
    background: transparent;
    width: 32px;
    border: none;
    cursor: pointer;
  }

  #arrowIcon {
    transform: rotate(180deg);
  }

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  #profilePicture1 {
    width: $first-impression-dimension;
    height: $first-impression-dimension;
    margin-top: 16.87%;
    border-radius: 50%;
    -webkit-filter: saturate(80%) sepia(20%) hue-rotate(0deg); 
    filter: saturate(80%) sepia(20%) hue-rotate(0deg); 
  }

  #nameAndRole {
    width: $first-impression-dimension;
    margin-top: 16.46%;
    flex-direction: column;
    display: flex;
    text-align: center;
    
    #name {
      font-size: fonts.$font-size + 37.5%;
    }

    #role {
      font-size: fonts.$font-size + 12.5%;
      font-weight: 100;
      margin-top: 6.96%;
    }
  }

  #meetMe {
    margin: 14.02% auto;
    width: 39.02%;
    padding: 6.75% 0;
    background: transparent;
    border: 1px solid colors.$secondary-color;
    color: colors.$secondary-color;

    &:active {
      background: colors.$secondary-color;
      color: colors.$primary-color;
    }
  }

  #quote {
    width: $first-impression-dimension * 1.5;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: fonts.$font-size + 12.5%;
  }
}

